name: SCRC C++ API (Windows)

on: [push]

jobs:
  build: 
    name: 'Windows Latest'
    runs-on: 'windows-latest'

    steps:
      - uses: actions/checkout@v2
      - name: Install CMake on Windows
        uses: msys2/setup-msys2@v2
        with:
            update: true
            install: >-
                cmake
                make
      - name: Setup Python3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Build C++ Bindings
        run: |
          cmake . -Bbuild
          cmake --build build
      - name: Run Unit Tests
        run: |
          ./build/bin/datapipeline-tests
          if [ $? -eq 0 ]; then
            echo "Unit tests completed successfully"
            exit 0
          else
            echo "Unit tests failed"
            exit 1
          fi
        shell: msys2 {0}
